root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.php]
charset = utf-8
indent_style = space
indent_size = 4

[*.html]
charset = utf-8

[*.htm]
charset = utf-8

[*.css]
charset = utf-8

[*.js]
charset = utf-8

[*.json]
charset = utf-8

[*.md]
charset = utf-8

[*.txt]
charset = utf-8

[*.sql]
charset = utf-8

[*.xml]
charset = utf-8

[*.yml]
charset = utf-8

[*.yaml]
charset = utf-8
